* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .pagi{
    margin-left: 500px;
  }

.button{
  margin-top: 20px;
}

.leftcolumn {
  margin-top: 5px;
  margin-left: 1%;
  float: left;
  width: 65%;
  border: 4px solid #3b393d;
}

.rightcolumn {
  float: left;
  width: 30%;
  background-color: #b6aeb4;
  padding-left: 20px;
}

.card{
  margin: 15px;
  border: 4px solid #3b393d;
}

.container-fluid{
  background-color: whitesmoke;
}
