<div class="leftcolumn">
<div class="container-fluid">
<div class ="row">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th >Kategorija</th>
        <th >Opis</th>
        <th >Iznos</th>
        <th >Datum</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p } ; let i=index">
            <td>{{item.subcategory.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.amount}} kn </td>
            <td>{{item.boughtAt}}</td>
        </tr>     
    </tbody>
    <tfoot>
      <div class="row">        
        <div class="col-md-8">
        <pagination-controls class="pagi" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <button class="btn btn-secondary" (click)="openDialog()"> Dodaj ...  </button>
        </div>
      </div>  
    </tfoot>
  </table>
</div>
</div>
</div>
<div class="rightcolumn">
    <div class="card">
      <div class="myDiv" id="myDiv">
          <!-- Chart will appear here -->
        </div>
      </div>
</div>