<div class ="row">
<div class="col-md-10">
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Kategorija</th>
        <th scope="col">Opis</th>
        <th scope="col">Iznos</th>
        <th scope="col ">Datum</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | paginate: { itemsPerPage: 5, currentPage: p } ; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.subcategory.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.boughtAt}}</td>
        </tr>     
    </tbody>
    <tfoot>
          <pagination-controls class="pagi" (pageChange)="p = $event"></pagination-controls>
    </tfoot>

  </table>
  </div>
  <div class="col-md-2">
      <button class="btn btn-secondary btn-block" 
      (click)="openDialog()">Dodaj novi</button>
  </div>
  </div>
  