
.title{
    margin: 15px;
    text-align: center;
}

.contariner{
    width:60%;
    background-color: whitesmoke;
}

.body{
    align-content: center;
}

.mat-accordion .mat-expansion-panel:last-of-type{
    margin: 5px;
}

.mat-tab-label {
    min-width: 20px !important;
    padding: 5px;
    background-color: transparent;
    color: #3a2735;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 20px !important;
    padding: 5px;
    background-color: transparent;
    color: #3a2735;
    font-weight: 700;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: lightgrey;
}

