.container{
    margin-top: 20px;
    width: 60%;
    border: 2px solid;
    border-radius: 50px;
    background-color: #e8dee5;
}

.material-icons{
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 35%;
    border: 3px solid;
    border-radius: 50px;
    font-size: 150px;
    color:#e8dee5;
    background:#3a2735;
}

.input{
    border: 2p solid;
}