<div class="container">
  <div *ngIf="!!user">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <i class="material-icons"> person</i>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><p class="input"> Korisničko ime : {{user.username}} </p></div>
      <div class="col-md-4"></div>
  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><p class="input"> Email : {{user.email}} </p></div>
      <div class="col-md-4"></div>
  </div>
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p class="input"> Ime i prezime : {{user.name}} {{user.lastname}} </p></div>
        <div class="col-md-4"></div>
  </div>
  <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p class="input"> Račun kreiran : {{user.created_at}} </p></div>
        <div class="col-md-4"></div>
  </div>
</div>