.modal-header{
    background-color:#3a2735;
    color: lightgrey;
        
}

.modal-boy{
    padding: 10px;
    background-color: lightgrey;
}

mat-form-field {
    color: #3a2735;;   
}

.mat-raised-button {
    background-color: #3a2735;
    color: #dcdce8;
}

.btn btn-secondary{
    float: left;
}

#name {
    width: 100%;
}
#lastname {
    width: 100%;
}
#email {
    width: 100%;
}

#username {
    width: 100%;
}

#password {
    width: 100%;
}
