<div class="registration" mat-dialog-content>
  <div class="modal-header">
    <h4 class="modal-title">Registriraj se </h4>
    <button mat-icon-button color="warn" (click)="activeModal.dismiss('Cross click')"> <mat-icon>close</mat-icon></button>
  </div>
<form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="modal-boy">
      <mat-form-field id="full_name" appearance="outline">
          <mat-label>Ime i prezime</mat-label>
          <input matInput 
                 name="full_name" 
                 [(ngModel)]="registerForm.full_name" 
                 #full_name="ngModel" required>
          <mat-error *ngIf="f.submitted && full_name.invalid && full_name.errors.required">Ime i prezime je obavezno!</mat-error>
      </mat-form-field>
      <mat-form-field id="username" appearance="outline">
          <mat-label>Korisničko ime</mat-label>
          <input matInput 
                name="username" 
                [(ngModel)]="registerForm.username" 
                #username="ngModel" required minlength="3">
          <mat-error *ngIf="f.submitted && username.invalid && username.errors.required">Korisničko ime je obavezno!</mat-error>
          <mat-error *ngIf="f.submitted && username.invalid && username.errors.minlength">Korisničko ime mora imati više od 3 znaka!</mat-error>
      </mat-form-field>
      <mat-form-field id="password" appearance="outline">
          <mat-label>Lozinka</mat-label>
          <input matInput 
                 type="password" 
                 name="password" 
                 [(ngModel)]="registerForm.password" 
                 #password="ngModel" required minlength="6">
          <mat-error *ngIf="f.submitted && password.invalid && password.errors.required">Lozinka je obavezna!</mat-error>
          <mat-error *ngIf="f.submitted && password.invalid && password.errors.minlength">Lozinka mora imati više od 6 znakova!</mat-error>
        </mat-form-field>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block"> Registriraj se</button>
          <button class="btn btn-secondary btn-block" (click)="activeModal.dismiss('Cross click')">Odustani</button>
      </div>
  </div>   
</form> 
</div>
