.login { 
    border: 1px solid;
    padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -200px;
	width:400px;
	height:350px;
}
input { 
	width: 100%; 
	margin-bottom: 10px; 
	padding: 10px;
	font-size: 13px;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;	
}
