<div class="login">
    <h2>Prijavite se </h2>
    <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <mat-form-field class="username">
              <input matInput 
                     placeholder="Korisničko ime ili email" 
                     name="username" 
                     [(ngModel)]="loginForm.username" 
                     #username="ngModel" required>
              <mat-error class="error" *ngIf="f.submitted && username.invalid && username.errors.required">Unesite korisničko ime</mat-error>
       </mat-form-field>
       <br>
       <mat-form-field class="password">
              <input matInput 
                     placeholder="Lozinka" 
                     name="password" 
                     type="password"
                     [(ngModel)]="loginForm.password" 
                     #password="ngModel" required>
              <mat-error class="error" *ngIf="f.submitted && password.invalid && password.errors.required">Unesite lozinku</mat-error>
       </mat-form-field>
      <button type="submit" 
              class="btn btn-primary btn-block"> Logiraj se
       </button>
       <br>
       <button class="btn btn-secondary btn-block" 
              (click)="openFormModal()">Registriraj se</button>
    </form>
</div>