<div class="login">
    <h2>Prijavite se </h2>
    <div class="form">
    <form (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
              <mat-form-field class="username">
              <i class="material-icons" matSuffix>portrait</i>
              <input matInput 
                     placeholder="Korisničko ime" 
                     name="username" 
                     [(ngModel)]="loginForm.username" 
                     #username="ngModel" required>
              <mat-error class="error" *ngIf="f.submitted && username.invalid && username.errors.required">Unesite korisničko ime</mat-error>
       </mat-form-field>
       <br>
       <mat-form-field class="password">
              <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</i>
              <input matInput 
                     placeholder="Lozinka" 
                        name="password" 
                     [type]="hide ? 'password' : 'text'"
                     [(ngModel)]="loginForm.password" 
                     #password="ngModel" required>
              <mat-error class="error" *ngIf="f.submitted && password.invalid && password.errors.required">Unesite lozinku</mat-error>
       </mat-form-field>
       <div class="btn-group">
              <button type="submit" class="btn btn-primary" (click)="onSubmit()"> Logiraj se</button>
              <button class="btn btn-secondary" (click)="openFormModal()">Registriraj se</button>
       </div>
    </form>
    </div>
</div>