.login { 
	border: 2px solid;
	border-radius: 15px;
    padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -100px 0 0 -200px;
	width:350px;
	background-color:#e8d7e3;
}
.error{
	text-align: center;
}

.btn btn-primary{
	margin-left: 20px;
}
