* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container{
    background-color: aliceblue;
    width: 70%;
    margin-left: 15%;
  }
 
 
  .card {
    background-color: white;
    padding: 20px;
  }
  
