* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container{
    background-color: aliceblue;
    width: 70%;
    margin-left: 15%;
    border: 4px solid #3b393d;
  }
  
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
  .myCard{
    color: #3a2735;
    font-family: 'Gill Sans';
    margin-top: 50px;
  }

  .row{
    background-color: white;
  }

  p.porukica{
    color: #3a2735;
    margin: 150px;
    align-content: center;
    font-size: x-large;
    font-family: cursive;
  }

 
  
 
  

  
