* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container{
    background-color: aliceblue;
    width: 70%;
    margin-left: 15%;
  }
  
  .example-month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .example-month-picker .mat-calendar-arrow {
    display: none;
  }
  
 
  

  
