<div class="container">
  <div class="row">
  <div class="col-md-9">
      <div class="ovo" [hidden]="hideOther">
      <div class="cardCurrentIncome"  [hidden]="hideIncome">
        <div id="myDivIncome" [hidden]="hideCurrentIncome">
          <button class="buttonPie" (click)="calculateIncomeCurrentMonthPie()"><i class="material-icons" matSuffix>autorenew</i></button>          
        </div>
        <div id="myDivIncomePie" [hidden]="!hideCurrentIncome">
            <button class="buttonPie" (click)="calculateCategoryIncomeChartBar()"><i class="material-icons" matSuffix>autorenew</i></button>
        </div>
      </div>
      <div class="cardCurrentExpense"  [hidden]="!hideIncome">
          <div id="myDivExpense" [hidden]="hideCurrentExpense">
            <button class="buttonPie" (click)="calculateExpenseCurrentMonthPie()"><i class="material-icons" matSuffix>autorenew</i></button>          
          </div>
          <div id="myDivExpensePie" [hidden]="!hideCurrentExpense">
            <button class="buttonPie" (click)="calculateCategoryExpenseChartBar()"><i class="material-icons" matSuffix>autorenew</i></button>          
          </div>
        </div>
      </div>
      <div class="ovo2" [hidden]="!hideOther">
        <div id="myDiv"></div>
      </div>
    </div>
  <div class="col-md-3">
    <div class="row">
        <div class="myCard">
        <h5> Grafički prikaz ovisno o </h5>
        <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="odabranoj godini i mjesecu" [formControl]="datePicked">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
          <div class="btn-group-vertical btn-group-lg mx-2">
              <button class="btn btn-secondary" (click)="calculateCategoryIncomeChartBar()"> Primanja </button>
              <button class="btn btn-secondary" (click)="calculateCategoryExpenseChartBar()"> Potrošnja </button>          
              <button class="btn btn-secondary" (click)="calculateCompareExpense()">Usporedba potrošnje</button>          
              <button class="btn btn-secondary" (click)="calculateIncomeCompare()">Usporedba primanja</button>    
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
